// body, html, #root {
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//     overscroll-behavior: none;
// }

.login{
    height: 100vh;
    background: lightblue;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 15px;
        min-height: 600px;
        overflow: hidden;

        .left{
            flex: 1;
            background: linear-gradient(rgba(40, 144, 178, 0.458), rgba(40, 144, 178, 0.458) ), url(https://images.pexels.com/photos/1655329/pexels-photo-1655329.jpeg);
            background-size: cover;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1{
                font-size: 100px;
                line-height: 100px;
                // -webkit-text-stroke-width: 1px;
                // -webkit-text-stroke-color: black;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                
            } 
            
            p{}
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rgb(40, 144, 178);
                cursor: pointer;
                border-radius: 15px;
            }

        }

        .right{
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;

            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;

                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                button{
                    cursor: pointer;
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: rgb(40, 144, 178);
                    color: white;
                    font-weight: bold;
                    border-radius: 15px;

                }
            }
        }
    }
}